h1
{
	color: blue;
}
.head1
{
background-color: yellow
}
.red{
	border:5px solid red;
}
#heading
{
background-color:black
}
div
{
	width:200px;
	height: 100px;
	background-color:#cc8181;
}
table, th, td {
  border: 1px solid black;
}